.project-page {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-columns: minmax(0, 1fr);
}

.project-card:hover img {
  transition: transform 1s;
  transform: scale(1.1);
}

.project-card {
  .v-card-item__content {
    height: 66vh;
  }
}

.project-text {
  white-space: pre-wrap;
}

.project-share {
  border-top: 2px solid rgb(var(--v-theme-primary));
  border-bottom: 2px solid rgb(var(--v-theme-primary));
  width: 100%;
}

.project-nav {
  width: 100%;
}
